/*reglas
selectores
declaraciones
propiedades
valores.*/


/*selector de etiqueta header - section -*/


/*selector descendente */


/*body header div nav ol li a*/


/*selector de clase*/


/*.link*/


/*selector de id # */


/* #portafolio */


/* gris oscuro = #1d252c */


/* gris claro = #626262 */


/* background gris = #1b2127 */


/* celeste = #026fff */

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.header p {
    font-family: "pacifico", sans-serif;
    font-size: xx-large;
}

.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hero {
    height: 500px;
    background-image: url("https://i.imgur.com/sC5teHC.jpg");
    background-repeat: no-repeat;
    background-size: 1200px 500px;
    background-position: center;
}

.hero p {
    font-family: "pacifico", sans-serif;
    font-size-adjust: initial;
    display: flex;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
}

h1 {
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    text-align: right;
    margin: 150px 100px 150px 800px;
}

h1 strong {
    color: white;
    font-size: 60px;
    font-family: "pacifico", sans-serif;
}

.dedicatoria {
    width: 1200px;
    height: 250px;
    margin: auto;
    background-color: black;
}

h2 {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    margin-top: 0px;
}

h2 strong {
    color: white;
    font-size: 60px;
    font-family: "pacifico", sans-serif;
}

.Conoceme p {
    color: white;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    background-color: black;
}

.Conoceme {
    background-color: white;
}

.project-imageContainer {
    margin: 0;
    display: flex;
}

.project-image-1 {
    width: 400px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 0;
}

.project-image-2 {
    width: 700px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 0px -100px 0 -100px;
}

.project-image-3 {
    width: 400px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 0;
}

.LogDisk {
    margin: auto;
}

.logo-music {
    display: flex;
    margin: auto;
    padding: 5px 200px;
    background: black;
}

.logo-music h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 200px;
    margin-inline-start: auto;
    color: white;
}

.reproducer {
    display: flex;
    align-items: center;
    margin: auto;
    background-color: black;
}

.playlist {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-right: auto;
    margin-left: 320px;
    color: white;
}

.social {
    display: grid;
    margin-left: auto;
    margin-right: 400px;
}

.social-link {
    width: 50px;
    height: 50px;
    display: grid;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.one {
    background-image: url("https://i.imgur.com/I520uOG.png");
    margin-top: 5px;
    margin-bottom: 5px;
}

.social-link.two {
    background-image: url("https://i.imgur.com/I520uOG.png");
    margin-top: 5px;
    margin-bottom: 5px;
}

.social-link.tree {
    background-image: url("https://i.imgur.com/I520uOG.png");
    margin-top: 5px;
    margin-bottom: 5px;
}

.social-link.four {
    background-image: url("https://i.imgur.com/I520uOG.png");
    margin-top: 5px;
    margin-bottom: 5px;
    ;
}

.frase {
    height: 500px;
    background-image: url("https://i.imgur.com/e7txA8o.jpg");
    background-repeat: no-repeat;
    background-size: 1200px 500px;
    background-position: center;
}

.frase h4 {
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-weight: lighter;
    text-align: right;
    margin: 100px 20px;
    font-size: 35px;
}

h4 strong {
    font-size: 25px;
}

.movie {
    height: 500px;
    background-image: url("https://i.imgur.com/avUTtWZ.jpg");
    background-repeat: no-repeat;
    background-size: 1200px 500px;
    background-position: center;
}

.logmov {
    margin: auto;
    margin-top: 100px;
    width: 300px;
    height: 300px;
}

.social-link.five {
    background-image: url("https://i.imgur.com/I520uOG.png");
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
}

.contact {
    background-color: #1b2127;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.redes {
    margin-right: 100px;
}

.social-link {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter {
    background-image: url("../img/twitter.svg");
}

.social-link.facebook {
    background-image: url("../img/facebook.svg");
}

.social-link.instagram {
    background-image: url("../img/instagram.svg");
}

.social-link.github {
    background-image: url("../img/github.svg");
}

.email h5 {
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
    text-align: center;
    margin-left: 100px;
}

h5 strong {
    text-transform: none;
    font-weight: lighter;
    font-size: 20px;
}

.container {
    width: 1200px;
    margin: auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}