body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
}

section {
    margin: 0;
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    font-family: "pacifico", sans-serif;
    font-size: xx-large;
    margin: auto auto auto 1em;
    letter-spacing: -.2px;
}

.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hero {
    height: auto;
    background-image: url("https://i.imgur.com/sC5teHC.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.hero p {
    font-family: "pacifico", sans-serif;
    font-size-adjust: initial;
    display: flex;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
}

h2 {
    font-size: 60px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: auto;
    text-align: center;
}

h2 strong {
    color: white;
    font-size: 180px;
    font-family: "pacifico", sans-serif;
}

h2 br {
    padding-top: 100px;
}

.dedicatoria {
    width: 100%;
    height: 250px;
    margin: auto;
    background-color: black;
}

h3 {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    margin-top: 0px;
}

h3 strong {
    color: white;
    font-size: 60px;
    font-family: "pacifico", sans-serif;
}

.Conoceme p {
    color: white;
    width: 30%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    background-color: black;
}

.Conoceme {
    background-color: white;
}

.project-imageContainer {
    margin: 0;
    display: flex;
}

.project-image-1 {
    width: auto;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 0;
}

.project-image-2 {
    width: auto;
    height: 500px;
    overflow: hidden;
    position: relative
}

.project-image-3 {
    width: auto;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 0;
}

.LogDisk {
    margin: auto;
}

.logo-music {
    display: flex;
    margin: auto;
    padding: 5px 200px;
    background: black;
}

.logo-music h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 200px;
    margin-inline-start: auto;
    color: white;
}

.reproducer {
    display: flex;
    align-items: center;
    margin: auto;
    background-color: black;
}

.playlist {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-right: auto;
    margin-left: 320px;
    color: white;
}

.social {
    display: grid;
    margin-left: auto;
    margin-right: 400px;
}

.social-link {
    width: 50px;
    height: 50px;
    display: grid;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.one {
    background-image: url("https://i.imgur.com/I520uOG.png");
    margin-top: 5px;
    margin-bottom: 5px;
}

.social-link.two {
    background-image: url("https://i.imgur.com/I520uOG.png");
    margin-top: 5px;
    margin-bottom: 5px;
}

.social-link.tree {
    background-image: url("https://i.imgur.com/I520uOG.png");
    margin-top: 5px;
    margin-bottom: 5px;
}

.social-link.four {
    background-image: url("https://i.imgur.com/I520uOG.png");
    margin-top: 5px;
    margin-bottom: 5px;
    ;
}

.frase {
    height: 500px;
    background-image: url("https://i.imgur.com/e7txA8o.jpg");
    background-repeat: no-repeat;
    background-size: 1200px 500px;
    background-position: center;
    margin: 0;
}

.buenafrase {
    padding: 100px 20px;
}

.buenafrase h4 {
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-weight: lighter;
    text-align: right;
    margin: 100px 20px;
    font-size: 35px;
}

h4 strong {
    font-size: 25px;
}

.movie {
    height: 500px;
    background-image: url("https://i.imgur.com/avUTtWZ.jpg");
    background-repeat: no-repeat;
    background-size: 1200px 500px;
    background-position: center;
}

.logmov {
    margin: auto;
    margin-top: 0px;
    width: 300px;
    height: 300px;
}

.logmov a {
    margin: auto;
    margin-top: 100px;
}

.social-link.five {
    background-image: url("https://i.imgur.com/I520uOG.png");
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
}

.contact {
    background-color: #1b2127;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.redes {
    margin-right: 100px;
}

.social-link {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter {
    background-image: url("../img/twitter.svg");
}

.social-link.facebook {
    background-image: url("../img/facebook.svg");
}

.social-link.instagram {
    background-image: url("../img/instagram.svg");
}

.social-link.github {
    background-image: url("../img/github.svg");
}

.email h5 {
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
    text-align: center;
    margin-left: 100px;
}

h5 strong {
    text-transform: none;
    font-weight: lighter;
    font-size: 20px;
}

.container {
    width: 100%;
    margin: 0 auto;
    flex: 1;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 767px) {
    .header {
        display: block;
        height: auto;
    }
    .header ol {
        display: block;
    }
    .header ol li {
        height: 25px;
    }
    .header a {
        justify-content: center;
    }
    h1 {
        text-align: center;
        margin: auto;
    }
    h2 {
        font-size: 40px;
    }
    h2 strong {
        font-size: 100px;
    }
    h3 strong {
        font-size: 40px;
    }
    .Conoceme p {
        font-size: 13px;
        width: 40%;
    }
}

@media screen and (max-width: 480px) {
    .project-image-2 {
        width: 100%;
        position: absolute;
        z-index: 1;
    }
}

@media screen and (max-width: 320px) {
    h2 {
        font-size: 20px;
    }
    h2 strong {
        font-size: 55px;
    }
    .Conoceme p {
        width: 60%;
    }
}